<script src="import.component.ts"></script>
<navbar-component></navbar-component>

<h2>Import Spreadsheet</h2>

<file-upload #fu (change)="filename = undefined; uploadAttempted = false" [multiple]="false">-</file-upload>


<button  *ngIf="filename === undefined" class="btn btn-primary" (click)="openPopup('large', 'You Are About To Upload A New File'); this.handleUpload()" style="margin-top: 10px">
    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
    Import
</button>

<div *ngIf="filename!==undefined"> Your file was successfully uploaded as data set {{this.filename}}.
</div>
<div *ngIf="filename === undefined && uploadAttempted === true">File upload failed.</div>

<div>
    <button  [routerLink]="['/admin']" class="btn btn-primary" style="float: right">Back to Admin Page</button>
</div>

<button  *ngIf="filename === undefined" class="btn btn-primary" (click)="openPopup2('large', 'You Are About To Delete all data in the database!')" style="margin-top: 10px">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    Clear DB
</button>
<div *ngIf="clearAttempted === 'good'">Clear Successful</div>
<div *ngIf="clearAttempted === 'bad'">Clear Failed</div>



<ngui-popup #popup></ngui-popup>