<navbar-component></navbar-component>

<h2>Upload Spreadsheet</h2>

<file-upload #fu (change)="filename = undefined; uploadAttempted = false" [multiple]="false">-</file-upload>

<button  *ngIf="filename === undefined" class="btn btn-primary" (click)="openPopup('large', 'You Are About To Update This File'); this.handleUpload()" style="margin-top: 10px">
    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
    Update
</button>

<div *ngIf="filename!==undefined"> Your file was successfully updated as data set {{this.filename}}.
</div>
<div *ngIf="filename === undefined && uploadAttempted === true">File updated failed.</div>

<div>
    <button  [routerLink]="['/admin']" class="btn btn-primary" style="float: right">Back to Admin Page</button>
</div>

<button  *ngIf="filename === undefined" class="btn btn-primary" (click)="this.clearDb()" style="margin-top: 10px">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
     Clear DB
</button>

<ngui-popup #popup></ngui-popup>
